<h1>Welcome to the Portfolios index page!</h1>
<%= sample_helper %>
<!-- Loops over each portfolio item -->
<div style="border: 1px solid black; margin: 5%; padding: 2.5%">
  <%= render partial: 'portfolio_item', collection: @portfolio_items %>
</div>
