<main role="main" class="inner cover">
  <h1 class="cover-heading">Contact</h1>
  <br>
  <p class="lead"><%= number_to_phone "1234567890" %></p>
  <p class="lead">JHudgens@gmail.com</p>
  <br>
    <%= link_to "LinkedIn", '#', class: "btn btn-lg btn-secondary" %>
    <%= link_to "GitHub", '#', class: "btn btn-lg btn-secondary" %>
    <%= link_to "Codepen", '#', class: "btn btn-lg btn-secondary" %>
  </p>
</main>
